/* GLOBAL */
*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
html{
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}
body{
    font-size: 62.5%;
}
ul{
    list-style: none;
}
/* MAIN CSS */
.header__top{
    background-color: #ff4f81; 
}
.header__left {
    padding: 12px 0;
}
.header__left a{
    color: white;
    font-size: 0.9rem;
    text-decoration: none;
    outline: none;
    padding: 0 10px;
    transition: all .3s;
}
.header__left a:hover{
    color: black;
}
.header__left a i{
    margin-right: 5px;
}
.header__right{
    padding: 8px 0;
}
.header__right a i{
    border: 1px solid black;
    width: 30px;
    height: 30px;
    line-height: 30px;
    background-color: black;
    text-align: center;
    color: white;
    margin-right: 5px;
}